<div class="post-wrapper">
    <div class="post-content">
        <div class="post-content-meta">
            <% page.categories.each(function (c){ %>
                <small class="post-category">
                    <i class="fa fa-folder-open-o"></i>
                    <a class="post-category-link" href="/categories/<%= c.name %>"><%= c.name %></a>
                    <i class="fa fa-chevron-right"/>
                </small>
            <% }) %>
            <span class="post-title-link"><%= page.title %></span>
            <span class="post-tags-wrapper">
                <% page.tags.each(function (t){ %>
                    <small class="post-tag">
                        <i class="fa fa-tags"></i>
                        <a class="post-tag-link" href="/tags/<%= t.name %>"> <%= t.name %></a>
                    </small>
                <% }) %>
            </span>
        </div>
        <div class="post-content-body">
            <%- page.content %>
        </div>
        <div style="text-align: right; padding: 10px;">
            <i class="fa fa-edit"></i> <%- date(page.date, "YYYY-MM-DD HH:mm:ss") %>
        </div>
        <div class="post-footer" style="display: flex; justify-content: space-between; padding: 10px;border-top: 1px solid #c9cacc55">
            <div class="prev">
                <% if (page.prev) { %>
                    <a href="<%- url_for(page.prev.path) %>"><i class="fa fa-chevron-left"/> <%= page.prev.title %></a>
                <% } else { %>
                    <span></span>
                <% } %>
            </div>
            <div class="next">
                <% if (page.next) { %>
                    <a href="<%- url_for(page.next.path) %>"><%= page.next.title %> <i class="fa fa-chevron-right"/></a>
                <% } else { %>
                    <span></span>
                <% } %>
            </div>
        </div>
    </div>
    <div class="post-toc">
        <div class="post-toc-bar">ToC</div>
        <div class="post-toc-list">
            <%- toc(page.content, {list_number: false}) %>
        </div>
    </div>
</div>
